@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');


* {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
    color: #837E9F;
}

body {
    background: #22212C;

}

main {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 40px;

}

.perfil {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.containers-left {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    width: 318px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.perfil-head {
    align-items: center;
    padding-bottom: 49px;
}

.name {
    font-size: 23px;
    font-weight: 700;
    margin-top: 30px;
}

.carrer {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
}

.links li {
    display: flex;
    align-items: center;
}

.links li:not(:first-child) {
    margin-top: 20px;
}

.links li a {
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}

.links li a:hover {
    text-decoration: underline;
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.tecnologies {
    height: 147px;
}

.tecnologies_list {
    display: grid;
    grid-template-columns: repeat(3, 107px);
    grid-template-rows: repeat(3, 39px);
    margin: 20px 10px;
    padding: 0;
}

.tecnology {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;

}


.instituition {
    font-size: 14px;
    font-weight: 700;
}

.period {
    font-size: 12px;
    font-weight: 300;
}

.experiences li {
    margin-top: 10px;
}

.course {
    font-size: 14px;
    font-weight: 400;
}

.projects {
    width: 952px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}

.title_section {
    width: 892px;
    padding: 30px;
    background: #302F3D;
    border-radius: 20px;
}

.see_all {
    color: #837E9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.my_projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.git_projects {
    display: flex;
    gap: 30px;
}

.project {
    width: 401px;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background: #302F3D;
    border-radius: 20px;
}

.project_header {
    display: flex;
    flex-direction: row;
    gap: 17px;

}

.project img {
    width: 16px;
}

.project_title {
    font-size: 16px;
    font-weight: 700;
}

.description {
    font-size: 14px;
    font-weight: 400;
    width: 401px;
}

.socials_projects {
    display: flex;
    flex-direction: row;
    gap: 8px
}

.icon {
    padding-left: 8px;
}

.javascript {
    margin-left: 145px;
}

.recent-post {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.title_post{
    font-size: 18px;
    font-weight: 700;
    
}
.post_time{
    font-size: 12px;
    font-weight: 400;
}
.post_description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;   
}
.hashtags{
    margin-top:11px;
    display: flex;
    gap: 10px;
    
}
.hashtag{
    font-size: 14px;
    font-weight: 400;
}