@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');
*{
   margin:0;
   padding:0;
   color:#837E9F;
}
html{
    font-size: 62,5%;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    background: #22212C;
}
main{
    display:grid;
    grid-gap: 5px;
}
main div{
    background:#302F3D;
}